@import '@/variables.scss';

.layout {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.aside {
  width: 160px;
  background-color: $colorPrimary;
  flex: 0 0 160px;
}

.main {
  flex: auto;
}

a.navItem {
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  display: block;
}
a.navItemActive {
  // color: $colorPrimary;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  &:hover {
    color: white;
  }
  &:visited {
    color: white;
  }
}
